<div class="position-fixed bottom-0 end-0 p-3 d-flex flex-column gap-3" style="z-index: 10;">
    <!-- Phone Button -->
    <a href="tel:0359021323" class="btn btn-icon rounded-circle btn-primary animate animate-bounce" title="Gá»i ngay"
        data-bs-toggle="tooltip">
        <i class="ti ti-phone"></i>
    </a>

    <!-- Zalo Chat Button -->
    <a href="https://zalo.me/0359021323" class="animate animate-bounce" target="_blank"
        title="Chat Zalo" data-bs-toggle="tooltip">
        <span class="social social-md social-app-zalo"></span>
    </a>

    <!-- Back to Top Button -->
    <button type="button" class="btn btn-icon rounded-circle btn-secondary back-to-top">
        <i class="ti ti-arrow-up"></i>
    </button>
</div>