@using web.Areas.Admin.ViewModels.Attribute
@model AttributeViewModel
@{
	ViewData["Title"] = "Thêm Thuộc tính mới - Hệ thống quản trị";
	ViewData["PageTitle"] = "Thêm Thuộc tính mới";
	ViewData[TempDataConstants.Breadcrumbs] = new List<(string Text, string Url)> {
		("Thuộc tính", Url.Action(nameof(Index)) ?? "/Admin/Attribute"),
		("Thêm mới", "")
	};
}

<form asp-action="Create" method="post">
	@Html.AntiForgeryToken()
	@if (!ViewData.ModelState.IsValid)
	{
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<div class="d-flex">
				<div class="alert-icon">
					<i class="ti ti-alert-circle"></i>
				</div>
				<div>
					<h4 class="alert-title mb-0">Có lỗi xảy ra!</h4>
					<div asp-validation-summary="ModelOnly" class="mb-0"></div>
				</div>
			</div>
			<a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
		</div>
	}
	<partial name="_AttributeFormFields" model="Model" />
</form>

@section Scripts {
	<script src="~/js/slug.js"></script>
	<script>
		$(document).ready(function () {
			const slugManager = SlugManager.init({
				nameInput: '#Name',
				slugInput: '#Slug',
				generateButton: '#generateSlugButton'
			});

			if ($('#Name').val() && !$('#Slug').val()) {
				slugManager.generateSlug();
			}
		});
	</script>
}