@using web.Areas.Admin.ViewModels.Attribute
@model AttributeViewModel
@{
    ViewData["Title"] = "Thêm Thuộc tính mới - Hệ thống quản trị";
    ViewData["PageTitle"] = "Thêm Thuộc tính mới";
    ViewData["Breadcrumbs"] = new List<(string Text, string Url)> {
("Thuộc tính", Url.Action(nameof(Index)) ?? "/Admin/Attribute"),
("Thêm mới", "")
};
}

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger mb-3" role="alert"></div>

    <partial name="_AttributeFormFields" model="Model" />
</form>

@section Scripts {
    <script src="~/js/slug.js"></script>
    <script>
        $(document).ready(function () {
            const slugManager = SlugManager.init({
                nameInput: '#Name',
                slugInput: '#Slug',
                generateButton: '#generateSlugButton'
            });

            if ($('#Name').val() && !$('#Slug').val()) {
                slugManager.generateSlug();
            }
        });
    </script>
}