@{
    ViewData.TryGetValue("Title", out var title);
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sơn Đại Minh - @title</title>
    <partial name="__LibStyles"/>
    @await RenderSectionAsync("HeadScripts", false)
</head>
<body class="d-flex flex-column @ViewData["BodyClass"]">
<div class="page">
    <partial name="__Sidebar"/>

    <div class="page-wrapper">
        @RenderBody()
    </div>
</div>
<partial name="__LibScripts"/>
@await RenderSectionAsync("ViewScripts", false)
</body>
</html>