@model List<web.Areas.Admin.Models.Tag.TagViewModel>

@{
    const string title = "Quản lý thẻ";
    const string screenCode = "tag";
    ViewBag.Title = title;
}

<div class="screen @screenCode">
    <section class="page-header d-print-none">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="page-title">@title</h2>
                </div>
                <div class="col-auto ms-auto">
                    <button class="btn btn-primary command-modal-create" asp-area="Admin" asp-controller="Tag"
                            asp-action="Create" data-bs-toggle="modal" data-bs-backdrop="true"
                            data-bs-target="#create-tag--modal">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 5l0 14"/>
                            <path d="M5 12l14 0"/>
                        </svg>
                        Thêm thẻ mới
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="dm-form form-create-container"></section>
    <section class="dm-form form-details-container"></section>
    <section class="dm-form form-edit-container"></section>
    <section class="dm-form form-delete-container"></section>

    <section class="paged-list">
        <partial name="_List" model="Model"/>
    </section>
</div>

@section FootScripts {
    <script src="~/js/Views/Admin/Tag/Tag.js"></script>
}
