@model dynamic

<div id="dropzone-area" class="dropzone text-muted text-center p-4 border rounded bg-light">
	<div class="dz-message" data-dz-message>
		<span>Kéo thả tập tin vào đây hoặc bấm để chọn</span>
	</div>
	<div class="dropzone-previews"></div>
</div>
<small class="form-hint mt-2">Hỗ trợ kéo thả hoặc bấm để chọn tập tin. Dung lượng tối đa 100MB.</small>