:root {
    --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    --bs-body-bg: var(--tblr-body-bg);
    font-family: var(--tblr-font-sans-serif);
    margin-left: 0px;
}

@supports (font-variation-settings: normal) {
    :root {
        --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        font-family: var(--tblr-font-sans-serif);
    }
}

.social-app-zalo {
    background-image: url(../img/zalo.svg);
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.animate-shake {
    animation: shake 0.5s infinite;
}

.animate-bounce {
    animation: bounce 1s infinite;
}