#selectMediaModal .media-file-item {
    cursor: pointer;
}

#selectMediaModal .media-file-item.selected .card {
    border-color: var(--tblr-primary) !important;
    box-shadow: 0 0 0 0.2rem rgba(var(--tblr-primary-rgb), .25);
}

#modal-dropzone {
    border: 2px dashed var(--tblr-border-color); 
    border-radius: var(--tblr-border-radius);
    background-color: var(--tblr-bg-surface);
}

#modal-dropzone.dz-drag-hover {
    border-color: var(--tblr-primary);
    background-color: var(--tblr-primary-lt);
}

.dz-message {
    color: var(--tblr-secondary);
}