.note-editor .note-toolbar {
    display: flex;
    flex-wrap: wrap;
}

    .note-editor .note-toolbar > .note-btn-group {
        margin-bottom: 5px;
    }

.summernote-container {
    margin-bottom: 20px;
    position: relative;
}

.note-editor {
    border: 1px solid #a9a9a9;
}
