@using System.Text.Json
@using shared.Constants
@using shared.Models

@{
    var themeCookie = Context.Request.Cookies["daiminhTheme"];
    var theme = string.IsNullOrEmpty(themeCookie) ? "light" : themeCookie;
    var isDark = theme == "dark";
}

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <title>@ViewData["Title"]</title>
    <partial name="__LibStyles" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body data-bs-theme="@(isDark ? "dark" : null)" data-bs-theme-primary="blue">
    <div class="page page-center">
        @RenderBody()
    </div>

    <!-- Toast notifications -->
    @{
        var toastJson = TempData[TempDataConstants.ToastMessage] as string;
        var toastData = !string.IsNullOrEmpty(toastJson)
        ? JsonSerializer.Deserialize<ToastData>(toastJson)
        : null;
    }
    @if (toastData is not null
        && !string.IsNullOrEmpty(toastData.Title)
        && !string.IsNullOrEmpty(toastData.Message))
    {
        <partial name="Components/Layout/_Toast" model="toastData" />
    }

    <partial name="__LibScripts" />

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>