<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<title>@ViewData["Title"]</title>
	<partial name="__LibStyles" />
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
	<div class="page page-center">
		@RenderBody()
	</div>

	<div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3"></div>

	<partial name="__LibScripts" />

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>