@model RegisterRequest

@{
    ViewBag.Title = "Đăng nhập Admin";
    Layout = "Layout/_Layout.Blank";
}

<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">Đăng ký vào tài khoản Admin</h2>

                <!-- Hiển thị thông báo thành công từ TempData -->
                @if (ViewData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success mb-3">
                        @ViewData["SuccessMessage"]
                    </div>
                }

                <form asp-area="Admin" asp-controller="Auth" asp-action="Register"
                      asp-route-returnUrl="@ViewData["ReturnUrl"]"
                      method="post" autocomplete="off" novalidate>
                    @Html.AntiForgeryToken()
                    <div class="mb-2">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" autocomplete="off">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-2">
                        <label asp-for="Username" class="form-label"></label>
                        <input asp-for="Username" class="form-control" autocomplete="off">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                    <div class="mb-2">
                        <label asp-for="Password" class="form-label"></label>
                        <div class="input-group input-group-flat">
                            <input asp-for="Password" class="form-control"
                                   autocomplete="off">
                            <span class="input-group-text">
                                <button class="btn-toggle-password btn-link" title="Hiện mật khẩu"
                                        data-bs-toggle="tooltip">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                      fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"
                                      class="icon icon-tabler icons-tabler-outline icon-tabler-eye">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"/>
                                    <path
                                        d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"/>
                                </svg>
                                </button>
                            </span>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <button type="submit" class="btn btn-primary w-100">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center text-muted mt-3">
            Không phải là Admin? <a asp-area="Client" asp-controller="Home" asp-action="Index" tabindex="-1">Quay lại
                trang chủ</a>
        </div>
    </div>
</div>

@section FootScripts {
    <script>
        $(document).ready(function () {
            const
                $passwordInput = $('input[type="password"]'),
                $togglePasswordButton = $('.btn-toggle-password');

            const eyeOpenIcon = `<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  
                                    fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                    <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                                </svg>`;

            const eyeOffIcon = `<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  
                                    fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-eye-off">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M10.585 10.587a2 2 0 0 0 2.829 2.828" />
                                    <path d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87" />
                                    <path d="M3 3l18 18" />
                                </svg>`

            $togglePasswordButton.on('click', function (e) {
                e.preventDefault();

                if ($passwordInput.attr('type') === 'password') {
                    $passwordInput.attr('type', 'text');
                    $(this).attr('title', 'Ẩn mật khẩu')
                        .attr('data-bs-original-title', 'Ẩn mật khẩu')
                        .html(eyeOffIcon);
                } else {
                    $passwordInput.attr('type', 'password');
                    $(this).attr('title', 'Hiện mật khẩu')
                        .attr('data-bs-original-title', 'Hiện mật khẩu')
                        .html(eyeOpenIcon);
                }

                const tooltip = bootstrap.Tooltip.getOrCreateInstance(this);
                if (tooltip) {
                    tooltip.hide();
                    tooltip.update();
                }
            });
        });
    </script>
}