<div class="page-body">
    <div class="container">
        <div class="cart">
            <div class="cart-body p-0">
                @* TODO *@
                @* @if (Model.Any()) *@
                @* { *@
                @*     <table id="table" class="table table-vcenter card-table"> *@
                @*         <thead> *@
                @*             <tr></tr> *@
                @*         </thead> *@
                @*     </table> *@
                @* } *@
                @* else *@
                @* { *@
                @*     <partial name="Components/Empty" /> *@
                @* } *@
            </div>
        </div>
    </div>

</div>