<footer class="footer footer-transparent d-print-none">
	<div class="container-xl">
		<div class="row text-center align-items-center flex-row-reverse">
			<div class="col-lg-auto ms-lg-auto">
				<ul class="list-inline list-inline-dots mb-0">
					<li class="list-inline-item"><a href="https://example.com/docs" class="link-secondary">Tài liệu</a></li>
					<li class="list-inline-item"><a href="https://example.com/support" class="link-secondary">Hỗ trợ</a></li>
				</ul>
			</div>
			<div class="col-12 col-lg-auto mt-3 mt-lg-0">
				<ul class="list-inline list-inline-dots mb-0">
					<li class="list-inline-item">
						Copyright © @DateTime.Now.Year
						<a href="/" class="link-secondary">Kiến Thức Sơn & Chống Thấm</a>.
						All rights reserved.
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>