<div class="modal modal-blur fade" id="selectMediaModal" tabindex="-1" aria-labelledby="selectMediaModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="selectMediaModalLabel">Chọn Media</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="select-media-modal-body-content">
					<div class="text-center p-5">
						<div class="spinner-border text-primary" role="status"></div>
						<p class="mt-2 text-muted">Đang tải...</p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="w-100 d-flex justify-content-between align-items-center">
					<div id="modal-selected-file-info" style="display: none;">
						Đã chọn: <strong id="selected-file-name"></strong>
					</div>
					<div>
						<button type="button" class="btn" data-bs-dismiss="modal">Đóng</button>
						<button type="button" class="btn btn-primary ms-2" id="modal-select-file-btn" disabled>
							Chọn
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>