@model web.Areas.Admin.Models.Account.UserViewModel

<div class="modal modal-blur fade" id="edit-user--modal"
     tabindex="-1" role="dialog"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down" role="document">
        <form asp-area="Admin" asp-controller="Account" asp-action="Edit">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chỉnh sửa người dùng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <input asp-for="Id" type="hidden"/>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label asp-for="RoleName" class="form-label"></label>
                                <select asp-for="RoleName" class="form-select">
                                    @foreach (var role in (ViewBag.Roles as List<SelectListItem>)!)
                                    {
                                        <option value="@role.Value" selected="@role.Selected">@role.Text</option>
                                    }
                                </select>
                                <span asp-validation-for="RoleName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-link link-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button class="btn btn-primary ms-auto" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                             stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M5 12l5 5l10 -10"/>
                        </svg>
                        Lưu thông tin
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>>