@using web.Areas.Admin.ViewModels.Account
@model LoginViewModel
@{
	Layout = "Layout/_Layout.Blank";
	ViewData["Title"] = "Đăng nhập Quản trị";
	var returnUrl = ViewData["ReturnUrl"] as string;
}

<div class="container container-tight py-4">
	<div class="text-center mb-4">
		<a href="/" class="navbar-brand navbar-brand-autodark">
			<h1 class="navbar-brand-autodark">DAIMINH</h1>
		</a>
	</div>
	<div class="card card-md">
		<div class="card-body">
			<h2 class="h2 text-center mb-4">Đăng nhập vào tài khoản Quản trị</h2>
			<form asp-action="Login" asp-route-returnurl="@returnUrl" method="post" novalidate>
				@Html.AntiForgeryToken()
				<div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger mb-3" role="alert"></div>

				<div class="mb-3">
					<label asp-for="Username" class="form-label"></label>
					<input asp-for="Username" type="text" class="form-control" placeholder="Nhập tên đăng nhập của bạn" autofocus>
					<span asp-validation-for="Username" class="text-danger"></span>
				</div>
				<div class="mb-2">
					<label asp-for="Password" class="form-label">
						@Html.DisplayNameFor(m => m.Password)
						<span class="form-label-description">
                            <a href="#">Quên mật khẩu?</a>
						 </span>
					</label>
					<input asp-for="Password" type="password" class="form-control" placeholder="Nhập mật khẩu">
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div class="mb-2">
					<label class="form-check">
						<input asp-for="RememberMe" type="checkbox" class="form-check-input" />
						<span class="form-check-label">@Html.DisplayNameFor(m => m.RememberMe)</span>
					</label>
				</div>
				<div class="form-footer">
					<button type="submit" class="btn btn-primary w-100">
						<i class="ti ti-login me-2"></i> Đăng nhập
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
