@model web.Areas.Admin.Requests.Product.ProductDeleteRequest

<div class="modal modal-blur fade" id="delete-product--modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<form asp-action="Delete" asp-controller="Product" asp-area="Admin" method="post" class="modal-content">
			<div class="modal-body">
				<div class="modal-title">Xác nhận xóa</div>
				<div>Bạn có chắc chắn muốn xóa sản phẩm "<strong>@Model.Name</strong>"?</div>
				<input type="hidden" asp-for="Id" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-link link-secondary me-auto command-modal-close">Hủy</button>
				<button type="button" class="btn btn-danger command-submit">Xóa</button>
			</div>
		</form>
	</div>
</div>