<div id="product-image-template" class="col-12" style="display: none;">
    <div class="card border shadow-sm product-image-item">
        <div class="card-body py-3">
            <div class="d-flex align-items-center">
                <img src="/img/placeholder.svg" class="avatar avatar-xl rounded object-cover me-3 border product-image-preview"
                    alt="Preview" />
                <div class="col-8 flex-grow-1">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <span class="badge bg-blue-lt text-blue border-blue">Ảnh #<span
                                class="image-number">1</span></span>
                        <button type="button" class="btn btn-sm btn-outline-danger remove-product-image-btn">
                            <i class="ti ti-trash"></i>
                        </button>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text"><i class="ti ti-link"></i></span>
                        <input name="Images[__INDEX__].ImageUrl" class="form-control media-url-input" readonly
                            placeholder="Chọn hình ảnh..." />
                        <button type="button" class="btn btn-outline-secondary select-media-button"
                            data-bs-toggle="modal" data-bs-target="#selectMediaModal" data-media-type-filter="0">
                            <i class="ti ti-folder"></i>
                        </button>
                    </div>
                </div>
                <div class="ms-3 form-check form-switch">
                    <input id="Images___INDEX___IsMain" name="Images[__INDEX__].IsMain" class="form-check-input main-image-checkbox" type="checkbox" value="false">
                    <label for="Images___INDEX___IsMain" class="form-check-label small">Ảnh chính</label>
                </div>
            </div>
            <input type="hidden" name="Images[__INDEX__].Id" value="0" />
            <input type="hidden" name="Images[__INDEX__].OrderIndex" class="image-order-index" value="0" />
        </div>
    </div>
</div>