@using web.Areas.Admin.ViewModels.Tag
@using shared.Enums
@using shared.Extensions
@model TagViewModel

@{
	ViewData["Title"] = "Chỉnh sửa Thẻ - Hệ thống quản trị";
	ViewData["PageTitle"] = $"Chỉnh sửa Thẻ: {Model.Name}";
	ViewData["Breadcrumbs"] = new List<(string Text, string Url)> {
			("Thẻ", Url.Action(nameof(Index)) ?? "/Admin/Tag"),
			($"Chỉnh sửa: {Model.Name}", "")
		};
}

<form asp-action="Edit" method="post">

	<div class="card">
		<div class="card-body">
			@Html.AntiForgeryToken()
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<input type="hidden" asp-for="Type" />

			<partial name="_TagFormFields" model="Model" />
		</div>
		<div class="card-footer text-end bg-transparent border-top pt-3">
			<a asp-action="Index" asp-route-type="@((int)Model.Type)" class="btn btn-link">Hủy</a>
			<button type="submit" class="btn btn-primary ms-2">
				<i class="ti ti-device-floppy me-2"></i> Cập nhật Thẻ
			</button>
		</div>
	</div>

</form>
@section Scripts {
	<script src="~/js/slug.js"></script>
	<script>
		$(document).ready(function() {
			const tagNameInput = $('#Name');
			const tagSlugInput = $('#Slug');
			const generateSlugBtn = $('#generateSlugButton');
			let userModifiedSlug = false;

			tagSlugInput.on('input', function() {
				 userModifiedSlug = true;
			});

			tagNameInput.on('input', function() {
				if (!userModifiedSlug) {
					tagSlugInput.val(generateVietnameseSlug(tagNameInput.val()));
				}
			});

			generateSlugBtn.on('click', function() {
				userModifiedSlug = false;
				tagSlugInput.val(generateVietnameseSlug(tagNameInput.val()));
			});
		});
	</script>
}