@using web.Areas.Admin.ViewModels.Tag
@using shared.Enums
@using shared.Extensions
@model TagViewModel

@{
	ViewData["Title"] = "Chỉnh sửa Thẻ - Hệ thống quản trị";
	ViewData["PageTitle"] = $"Chỉnh sửa Thẻ: {Model.Name}";
	ViewData["Breadcrumbs"] = new List<(string Text, string Url)> {
			("Thẻ", Url.Action(nameof(Index)) ?? "/Admin/Tag"),
			($"Chỉnh sửa: {Model.Name}", "")
		};
}

<form asp-action="Edit" method="post">

	<div class="card">
		<div class="card-body">
			@Html.AntiForgeryToken()
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<partial name="_TagFormFields" model="Model" />
		</div>
		<div class="card-footer text-end bg-transparent border-top pt-3">
			<a asp-action="Index"  class="btn btn-link">Hủy</a>
			<button type="submit" class="btn btn-primary ms-2">
				<i class="ti ti-device-floppy me-2"></i> Cập nhật Thẻ
			</button>
		</div>
	</div>
</form>

@section Scripts {
    <script src="~/js/slug.js"></script>
    <script>
        $(document).ready(function() {
            const slugManager = SlugManager.init({
                nameInput: '#Name',
                slugInput: '#Slug',
                generateButton: '#generateSlugButton'
            });

            if ($('#Name').val() && !$('#Slug').val()) {
                    slugManager.generateSlug();
            }
        });
    </script>
}