@model web.Areas.Admin.Requests.Gallery.FolderDeleteRequest

<div class="modal modal-blur fade" id="modal-delete-folder" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border">
            <form asp-area="Admin" asp-controller="Gallery" asp-action="DeleteFolder" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa thư mục</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Id">
                    <p class="text-danger">Bạn có chắc chắn muốn xóa thư mục "@Model.Name"?</p>
                    <p>Tất cả các tệp và thư mục con sẽ bị xóa. Hành động này không thể hoàn tác.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-link link-secondary command-modal-close">Hủy</button>
                    <button type="button" class="btn btn-danger command-submit ms-auto">
                        Xóa thư mục
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
