@using web.Areas.Admin.ViewModels.Article
@model ArticleViewModel
@{
	ViewData["Title"] = "Thêm Bài viết mới - Hệ thống quản trị";
	ViewData["PageTitle"] = "Thêm Bài viết mới";
	ViewData["Breadcrumbs"] = new List<(string Text, string Url)> {
			("Bài viết", Url.Action(nameof(Index)) ?? "/Admin/Article"),
			("Thêm mới", "")
		};
}

<form asp-action="Create" method="post">
	@Html.AntiForgeryToken()
	<div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger mb-3" role="alert"></div>

	<partial name="_ArticleFormFields" model="Model" />

	<div class="card mt-4">
		<div class="card-header">
			<h3 class="card-title">Tối ưu SEO</h3>
		</div>
		<div class="card-body">
			<partial name="Components/Crud/_SeoFormFields" model="Model.Seo" />
		</div>
		<div class="card-footer text-end bg-transparent border-top pt-3">
			<a asp-action="Index" class="btn btn-link">Hủy</a>
			<button type="submit" class="btn btn-primary ms-2">
				<i class="ti ti-device-floppy me-2"></i> Lưu Bài viết
			</button>
		</div>
	</div>
</form>

@section Scripts {
	<script src="~/js/slug.js" asp-append-version="true"></script>

	<script>
		$(document).ready(function() {
				const titleInput = $('#Title');
				const slugInput = $('#Slug');
				const generateSlugBtn = $('#generateSlugButton');

				titleInput.on('input', function() {
					if (slugInput.val() === '') {
						slugInput.val(generateVietnameseSlug(titleInput.val()));
					}
				});

				generateSlugBtn.on('click', function() {
					slugInput.val(generateVietnameseSlug(titleInput.val()));
				});

				$('#Content').summernote({
					placeholder: 'Nhập nội dung chi tiết bài viết',
					height: 300,
					lang: 'vi-VN',
					callbacks: {
						onInit: function() {
							if ($(this).summernote('isEmpty')) {
								$(this).summernote('code', '');
							}
						}
					}
				});
			});
	</script>
}