@using web.Areas.Admin.ViewModels.Brand
@model BrandViewModel

<div class="row g-3 mb-4">
	<div class="col-md-6">
		<div class="form-group mb-3">
			<label asp-for="Name" class="form-label required"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>

		<div class="form-group mb-3">
			<label asp-for="Slug" class="form-label required"></label>
			<div class="input-group">
				<input asp-for="Slug" class="form-control" />
				<button class="btn btn-outline-secondary" type="button" id="generateSlugButton" title="Tạo slug tự động">
					<i class="ti ti-refresh"></i>
				</button>
			</div>
			<span asp-validation-for="Slug" class="text-danger"></span>
			<small class="form-hint">Dùng cho URL (chỉ chứa chữ cái thường, số và dấu gạch ngang)</small>
		</div>

		<div class="form-group mb-3">
			<label asp-for="Website" class="form-label"></label>
			<input asp-for="Website" type="url" class="form-control" />
			<span asp-validation-for="Website" class="text-danger"></span>
		</div>
		<div class="form-group mb-3">
			<label asp-for="LogoUrl" class="form-label"></label>
			<input asp-for="LogoUrl" class="form-control" />
			<span asp-validation-for="LogoUrl" class="text-danger"></span>
			<small class="form-hint">URL đầy đủ đến ảnh logo.</small>
		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group mb-3">
			<label asp-for="Description" class="form-label"></label>
			<textarea asp-for="Description" class="form-control" rows="8"></textarea>
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="form-check form-switch mb-0 mt-3">
			<input class="form-check-input" type="checkbox" asp-for="IsActive" role="switch">
			<label class="form-check-label" asp-for="IsActive"></label>
			<span asp-validation-for="IsActive" class="text-danger"></span>
		</div>
	</div>
</div>